body
    {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.player {
  background: burlywood;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: black;
  
}

.title { 
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.title1 {
  font-size: 15;
  margin-bottom: 15px;
  opacity: 0.8;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.move {
  width: 100%;
  cursor: pointer;
}


.pay-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 20px;
}

.image{
  margin: 0;
  padding: 0;
  width:40vh;

}
button:hover {

  background:lightskyblue;
}
    